.poster {
  width: 300px;
  height: 450px;
  margin-right: 10px;
}

.navLink {
  display: inline-block;
  color: black;
}

.navLinkActive {
  font-weight: 500;
  color: #00bfff;
}

.goBack {
  margin-bottom: 5px;
}

.filmWrapper {
  display: flex;
  margin-bottom: 15px;
}

.movieTitle {
  margin-bottom: 20px;
}

.movieSubTitle {
  margin: 20px 0;
  font-weight: 600;
  font-size: 24px;
}

.genersItem {
  display: inline-block;
  margin-right: 10px;
}

.additionalList {
  margin-bottom: 10px;
}
